= render 'shared/error_messages', user: current_user
.authentication-wrapper
  .field-area
    .field-heading
      %h2
        = t('views.users.my_profile')
    %fieldset
      = form_with model: current_user, url: profile_path, local: true, class: 'edit-profile' do |f|
        .form-group
          = f.label t('views.labels.email')
          = f.email_field :email, disabled: true, class: 'form-control', placeholder: t('views.placeholder.email')
        .form-group
          = f.label t('views.labels.username')
          = f.text_field :username, required: true, minlength: Constant::MIN_USERNAME_LENGTH, class: 'form-control', placeholder: t('views.placeholder.username')
        .form-group
          = f.label t('views.labels.password')
          = f.password_field :password, minlength: Constant::MIN_PASSWORD_LENGTH, class: 'form-control', placeholder: t('views.placeholder.password')
        .form-group
          = f.label t('views.labels.confirm_password'), minlength: Constant::MIN_PASSWORD_LENGTH
          = f.password_field :password_confirmation, class: 'form-control', placeholder: t('views.placeholder.password')
        .form-group.text-center
          = f.submit t('views.users.update_profile'), class: 'btn-submit'

= javascript_pack_tag 'profile'
