.authentication-wrapper
  .field-area
    .field-heading
      %h2
        = t('views.users.my_profile')
    %fieldset
      = form_for :user, url: password_path, local: true do |f|
        .form-group.row
          %label.col-3
            = t('views.labels.email')
          %label.col-9
            = current_user.email
        .form-group.row
          %label.col-3
            = t('views.labels.username')
          %label.col-9
            = current_user.username