.authentication-wrapper
  .field-area
    .field-heading
      %h2
        = t('views.navbar.sign_in')
    %fieldset
      = form_for :user, url: sign_in_path do |f|
        .form-group
          = f.label t('views.labels.email')
          = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control', placeholder: t('views.placeholder.email')
        .form-group
          = f.label t('views.labels.password')
          = f.password_field :password, autocomplete: 'new-password', class: 'form-control', placeholder: t('views.placeholder.password')
        
        .form-group.text-center
          = f.submit t('views.navbar.sign_in'), class: 'btn-submit'

        .link.text-center
          = link_to t('views.users.passwords.forgot'), new_password_path                
