.authentication-wrapper
  .field-area
    .field-heading
      %h2
        = t('views.users.passwords.forgot')
    %fieldset
      = form_for :user, url: password_path, local: true do |f|
        .form-group
          = f.label t('views.labels.email')
          = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control', placeholder: t('views.placeholder.email')
        .form-group.text-center
          = f.submit t('views.users.passwords.send_instruction'), class: 'btn-submit'
