= render 'shared/error_messages', user: @user
.authentication-wrapper
  .field-area
    .field-heading
      %h2
        = t('views.navbar.sign_up')
    %fieldset
      = form_with model: @user, url: sign_up_path, local: true, class: 'new-user' do |f|
        .form-group
          = f.label t('views.labels.email')
          = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control', placeholder: t('views.placeholder.email')
        .form-group
          = f.label t('views.labels.password')
          = f.password_field :password, autocomplete: 'new-password', class: 'form-control', placeholder: t('views.placeholder.password')
        .form-group
          = f.label t('views.labels.confirm_password')
          = f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control', placeholder: t('views.placeholder.password')
        .form-group.text-center
          = f.submit t('views.navbar.sign_up'), class: 'btn-submit'

= javascript_pack_tag 'users/registration'
